@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 240, 240, 240;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.jodit-ui-button_Advanced {
  display: none !important;
}

ul {
  list-style: disc inside;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
ol {
  list-style: decimal inside;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
h1,
h1 span,
h1 p {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
h2,
h2 span,
h2 p {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
h3,
h3 span,
h3 p {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
h4,
h4 span,
h4 p {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
h5,
h5 span,
h5 p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
h6,
h6 span,
h6 p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
p,
p span {
  font-size: 0.92rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
}
li,
li span,
li p,
li p span,
li span p {
  font-size: 0.92rem;
  font-weight: 400;
  list-style-position: outside;
}
button {
  font-weight: 400;
}
span,
button {
  font-size: 0.92rem;
  font-weight: 400;
}
a {
  color: rgb(11, 122, 226);
  font-weight: 400;
  text-decoration: underline;
}
figcaption {
  font-size: 0.85rem;
  font-weight: 300;
  margin: 0.3rem 0;
  color: rgba(rgb(30, 29, 29), 0.8);
}
blockquote,
br {
  margin-bottom: 1rem;
  display: block;
}
hr {
  display: block;
  margin: 1rem 0;
}
